@import "~normalize.css";
@import "mixins";
@import "fonts";

$primary: #1890FF;

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 44px 0;

  & a {
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.btn {
  @include b-r(2px);
  box-sizing: border-box;
  display: inline-flex;
  font-family: 'San Francisco Pro Display Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-right: 9px;
  padding: 8px 16px;

  &.btn-default {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    color: #595959;
  }

  &.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;
    color: #fff;
  }

  & > img {
    margin-right: 6px;
  }
}

.logo-link {
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  width: 100px;

  & > img {
    margin-right: 10px;
  }
}

.search {
  margin: 0;

  label {
    display: block;
    position: relative;

    &:before {
      background-position: center center;
      background-repeat: no-repeat;
      content: '';
      height: 18px;
      position: absolute;
      left: 10px;
      top: 11px;
      width: 18px;
    }

    &#address-label {
      &:before {
        background-image: url('../img/home.svg');
      }
    }

    &#search-label {
      &:before {
        background-image: url('../img/search.svg');
      }
    }
  }

  input {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    @include b-r(2px);
    box-sizing: border-box;
    line-height: 24px;
    padding: 8px 12px 8px 32px;

    &::placeholder {
      color: #BFBFBF;
      font-family: 'San Francisco Pro Display Regular', sans-serif;
      font-size: 16px;
    }

    &#address-input {
      width: 690px;
    }
  }
}

.slider {
  & > .promo {
    @include b-sh(0px 7px 12px rgba(158, 158, 163, 0.1));
    height: 300px;
    width: 100%;

    & > img {
      height: 100%;
      @include o-f(cover);
      width: 100%;
    }
  }
}
